.pokemon-Filled-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 25px;
}

.start {
  justify-content: space-evenly;
  display: flex;
  padding: 2%;
  background-color: var(--white);
  flex-wrap: wrap;
  flex-direction: row;
  height: 35vh;
  width: 61%;
  border-radius: 15px;
  box-shadow: 0px 17.5px 6px -6px rgb(235, 234, 237);
}

.moves-container {
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0px 17.5px 6px -6px rgb(235, 234, 237);
  display: flex;
  background-color: var(--white);
  height: 35vh;
  width: 61%;
}

.moves {
  justify-content: space-evenly;
  display: flex;
  padding: 2%;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.ivs-container {
  box-shadow: 0px 17.5px 6px -6px rgb(235, 234, 237);
  display: flex;
  height: 40vh;
  flex-direction: column;
  background-color: var(--white);
  align-items: center;
  justify-content: flex-start;
  width: 61%;
}

.left-button, .right-button {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: lightgray;
  align-items: center;
  border-width: 0px;
  border-radius: 15px;
}

.iv-button {
  margin-top: 10%;
  border: 0px;
  padding: 0px;
  background-color: lightgray;
  display: flex;
  width: 90%;
  height: 10%;
  border-radius: 15px;
}

.active {
  background-color: darkgray;
  border-radius: 15px;
}

.ivs, .evs {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  padding: 2%;
  flex-direction: row;
  height: 80%;
  width: 100%;
  border-radius: 15px;
}

.iv, .ev {
  width: 15%;
  height: 66%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iv-text, .ev-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 100%;
}

.iv-value, .ev-value {
  display: flex;
  background-color: lightgray;
  border-radius: 7.5px;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 100%;
}

#myChart {
  height: 90% !important;
  width: auto !important;
}

.stats {
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0px 17.5px 6px -6px rgb(235, 234, 237);
  display: flex;
  background-color: var(--white);
  height: 45vh;
  width: 61%;
}

canvas {
  margin-top: 5%;
}

.hidden {
  display: none;
}

.info {
  position: absolute;
  color: #9e9e9e;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 15px;
  border: 2px solid lightgray;
}

.ability {
  background-color: lightgray;
}

.nature {
  color: #2093d9;
  background-color: lightgray;
}

.pokemon-field-text, .pokemon-field-answear {
  margin-top: 2%;
  padding-left: 1%;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.pokemon-field-text {
  width: 30%;
}

.pokemon-field-answear {
  width: 70%;
}

.move {
  padding-left: 1%;
  align-items: center;
  display: flex;
  height: 20%;
}