/* @'s & fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: Kimberle;
  src: url('../Assets/Fonts/kimberle.ttf') format('truetype');
}

/* Variables */
:root {
    /* FONTS */
    --defaultFont: 'Raleway', sans-serif;
    --pokemonFont: 'Kimberle', sans-serif;

    /* HEIGHTS */
    --borderHeight: 5px;

    /* COLORS */
    --lightGray: rgb(235, 234, 237);
    --white: #ffffff;
}

/* Global Properties */

* {
    font-family: 'Raleway', 'arial';
    box-sizing: border-box;
    margin: 0px;
    max-width: 100%;
}

/* Tags */

h1 {
    font-family: var(--defaultFont);
}

body {
    min-height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

/* IDs */

/* Classes */

.player-Container {
    height: 25vh;
    width: 61%;
}

.player {
    gap: 3%;
    justify-content: center;
    display: flex;
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    background-color: var(--white);
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 17.5px 6px -6px rgb(235, 234, 237);
}

.top-Container {
    display: flex;
    height: 5vh;
    width: 100%;
}

.player-Top {
    display: flex;
    align-items: center;
}

.underline {
    position: absolute;
    margin-top: 30px;
    width: 7.5%;
    height: 3px;
    background-color: red;
    border-radius: 15px;
}

.playerImg {
    width: auto;
    height: 100%;
    border-radius: 5px;
    margin-right: 2%;
    cursor: pointer;
}

.pokemonTeam-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.pokemonTeam {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--lightGray);
    background-color: var(--lightGray);
    border-radius: 5px;
    height: 100%;
    width: 16%;
    cursor: pointer;
}